*.zip
!Codabench Bundle/releases/*.zip
.vscode/
**/__pycache__/
**/.pytest_cache/
*.pt
*.pth
.env
Worker/data/*
!Submission/Bundle/model.pth
!Worker/data/.gitkeep
inference/README.md
Inference



last_real_predictions.json
video_label.py
visualize_real.py
OCT_Fundus_Registration
OCT_Fundus_Registration_submission
